# ========================
# OS / System files
# ========================
.DS_Store
Thumbs.db

# ========================
# Windows user files
# ========================
.bash_history
.gitconfig
.viminfo
.lesshst

# ========================
# OneDrive
# ========================
OneDrive/

# ========================
# Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Logs
# ========================
*.log

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Environment variables
# ========================
.env

# ========================
# Build folders
# ========================
dist/
build/
